<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/global_layout.css"/>
  </head>
  <body>
    <div class="page">
      <header class="header">      
          <div class="header-logo">Biblioteka</div>
      </header>
      <div class="navbar">
        <div id="navbar-menu-items">
          <button class=navbar-button>Strona Główna</button>
          <button class=navbar-button>Książki</button>
          <button class=navbar-button>Wypożyczenia</button>
          <button class=navbar-button>Klienci</button>
          <button class=navbar-button>Autorzy</button>
        </div>
        <div id="navbar-menu-login">
          <button class=navbar-button id="navbar-login">Logowanie</button>
        </div>
      </div>
      <div class="breadcrumbs">Strona Główna</div>
      <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum erat nunc, quis pulvinar dolor ullamcorper sit amet. Praesent nibh nulla, condimentum eget mi mollis, porta vehicula risus. Praesent in efficitur felis, a lacinia purus. Duis aliquet efficitur sollicitudin. Sed in neque justo. Pellentesque at metus neque. Proin a nulla non nunc tempus tincidunt. Curabitur eros felis, placerat a tortor sed, eleifend ultricies felis.

Ut consequat, nisi a gravida molestie, dolor nulla posuere augue, sed egestas massa enim ac ligula. Pellentesque mattis vulputate blandit. Praesent ligula purus, bibendum vitae suscipit id, maximus vel felis. Sed imperdiet dignissim tempus. Aliquam in tortor accumsan nulla venenatis efficitur fermentum et mauris. Cras auctor nisl a molestie fringilla. Quisque eget maximus dolor, quis finibus ante. Fusce sed iaculis augue, at egestas nunc. Pellentesque sollicitudin felis velit, sit amet accumsan nunc volutpat id. Nam laoreet gravida nunc, in aliquet risus blandit at. Aenean enim urna, euismod et lacinia et, fermentum in nulla.

In hac habitasse platea dictumst. Vestibulum ornare rhoncus odio quis fringilla. Fusce accumsan accumsan faucibus. Phasellus dignissim mattis malesuada. Integer in nulla metus. Nulla sit amet tellus malesuada, pharetra nisi quis, varius dolor. Aliquam ac nibh vel urna blandit facilisis a sed mi. Nam lacinia, tellus ac porttitor consectetur, quam massa interdum libero, aliquam venenatis orci ante sit amet enim. In quis leo lectus. Etiam dui ante, dapibus non massa nec, bibendum elementum est. Fusce consectetur, mi non fringilla sagittis, sem eros feugiat lacus, id commodo dolor tortor sit amet justo.

Sed elementum dictum justo. Maecenas dictum scelerisque volutpat. Suspendisse commodo lorem sed pulvinar feugiat. Mauris non magna neque. Duis ullamcorper justo finibus nunc posuere, ac consectetur massa pretium. Nam nec porta massa. Nulla mattis quam ornare lorem rutrum mattis. Duis cursus fermentum dolor eu mollis. Fusce fringilla ante id libero dignissim scelerisque. Integer posuere, leo in scelerisque pulvinar, ante tellus varius ex, non luctus quam neque eu erat. Praesent venenatis sapien enim, sed viverra lacus ultricies eget.

Mauris porttitor, dolor et viverra maximus, est turpis semper leo, sit amet viverra nisl lorem ut magna. Donec auctor posuere mattis. Vestibulum maximus elit vitae fringilla facilisis. Praesent vulputate gravida eleifend. Duis tincidunt vulputate nunc eu egestas. Nam justo elit, tincidunt vitae ex at, facilisis accumsan tellus. Donec et justo elit. Nunc vitae auctor neque. Nulla purus arcu, aliquet molestie lobortis eget, hendrerit vel mi. Donec fringilla, nibh quis sodales dignissim, dui elit ultricies metus, vitae mattis lorem diam quis nunc.
</div>
      <div class="footer">System do zarządzanie biblioteką 2019</div>
    </div>
  </body>
</html>