<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/global_layout.css"/>
  </head>
  <body>
    <div class="page">
      <header class="header">      
          <div class="header-logo">Biblioteka</div>
      </header>
      <div class="navbar">
        <div id="navbar-menu-items">
          <button class=navbar-button>Strona Główna</button>
          <button class=navbar-button>Książki</button>
          <button class=navbar-button>Wypożyczenia</button>
          <button class=navbar-button>Klienci</button>
          <button class=navbar-button>Autorzy</button>
        </div>
        <div id="navbar-menu-login">
          <button class=navbar-button id="navbar-login">Logowanie</button>
        </div>
      </div>
      <div class="breadcrumbs">Strona Główna</div>
      <div class="content"></div>
      <div class="footer">System do zarządzanie biblioteką 2019</div>
    </div>
  </body>
</html>