#book-item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    border-top: 1px solid black;
    padding: 15px;
}

input{

}

.input-notvalid{
    border: 1px red solid;
}

.errorfield{
    color: red;
}

.book-cover-container{
    display: grid;  
    justify-content: flex-end;  
    grid-area: 1 / 1 / 4 / 2;
    height: 128px;
    width: 128px;
}

.book-cover{
    display: inline;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.book-title{
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    align-items: flex-start;
    font-size: 150%;
}

.book-price{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;    
    align-items: center;
    font-size: 200%;
}

.list-item-buttons{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#list-item-rent-buttons{
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
}

#list-item-book-buttons{
    grid-area: 3 / 2 / 4 / 3;    
    align-self: flex-end;
}

.list-item-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 5%;
    font-size: 100%;
    color: blue;
}

.book-button:hover{
    color: lightblue;
}

.content-frame{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

#add-book-frame{
    border: 1px solid black;
}

.content-header{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
}

#add-rent-frame{
    border: 1px solid black;
}

#list-book-header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    align-items: flex-end;
}

#list-rent-header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    align-items: flex-end;
}

#search-input{
    height: 34px;
    width: 400px;
    float: right;
    margin-left: 20px;
}

#add-rent-header{
    font-size: 50px;
    justify-content: center;
}

.content-data{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
}

#add-rent-data{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#details-rent-content-data{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.content-footer{
    grid-area: 3 / 1 / 4 / 2;
}

#add-book-footer{
    display: flex;
    margin: 20px;
    justify-content: flex-end
}

#add-rent-footer{
    display: flex;
    justify-content: center;
}

#add-book-header #description{
    margin-top: 10px;
    height: auto;
}

#add-book-content{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

#add-book-header #header{
    display: grid;
    justify-content: center;
    align-self: center;
    font-size: 50px;
}

.attribute-frame{
    display: grid;
    margin-top: 50px;
}

#add-book-attribute-frame{
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
}

#details-rent-attribute-frame .attribute-list{
    display: grid;
    grid-area: 1/1/2/2;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;    
    font-size: 20px;
}

#details-rent-attribute-frame .attribute-list .attribute{
    display: flex;
    align-items: center;
}

#details-rent-attribute-frame .attribute-list .attribute-name{
    font-weight: 700;
    margin-right: 20px;
    grid-column-start: 1;
}

#details-rent-attribute-frame .attribute-list .attribute-value{
    margin-right: 20px;
    grid-column-start: 2;
}

#add-book-attribute-frame .attribute{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: 40% 40% 20%;
}

.medium-label{
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    margin-bottom: 10px;
}

.attribute input{
    width: 50%;
    font-size: 20px;
}

.attribute-table{
    display: grid;
    padding: 10px;
    align-items: flex-start;
    height: auto;
}

#table-autor{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

table {
    border: 1px solid black;
    height: auto;
    table-layout: fixed;
    width: 100%;
}

thead{
    border: 1px solid black;
    background-color: #4D2D52;
    color: white;
}


th, td{
    margin: 5px;
    height: 25px;
}

.selectable-table tbody tr:hover{
    background-color: lightgray;
}

 .center{
    display: flex;
    justify-content: center;
}

.tr-selected{
    background-color: darkgray;
    color: white;
}

.attribute-table-button{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.medium-button{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #4D2D52;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}
.small-button{
    height: 20px;
    color: white;
    background-color: #4D2D52;
    border: none;
}

html{
    height: 100%;
}

body{
    display: inline;
    background-color: white;
}

.page{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 50px 30px auto 30px;
    background-color: white;
}

header{
    grid-column-start: 2;
}

.header-logo{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    grid-area: 2 / 1 / 2 / 4;
    background-color: #4D2D52;
    height: 50px;
    display: flex;
}

.navbar-button{
    height: 100%;
    font-size: 100%;
    color: white;
    background-color: transparent;
    width: 150px;
    border: none;
}

#home-icon{
    width: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;}

#home-icon:hover{
    background-image: linear-gradient(to right, white, silver);
}


.navbar-button:hover{
    color: black;
    background-image: linear-gradient(to right, white, silver);
}

#navbar-menu-items{
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

#navbar-menu-login{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.breadcrumbs{
    grid-area: 3 / 1 / 3 / 4;
    background-color: #846075; 
    width: 100%;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
}


.content{
    grid-area: 4 / 2 / 4 / 3;
    background-color: white;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(auto, 10%) auto minmax(auto, 10%);
    grid-template-rows: 50px auto 50px;
}

.content-all-items{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    min-height: 100%;
    min-width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 50px;
    justify-content: center;
}

.onepage-notification{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    padding: 100px;
}

.onepage-notification span{
    border: 1px solid black;
    padding: 20px;
    background-color: #846075;
    color: white;
    text-align: center;
    align-items: flex-end;
}


.onepage-notification #message-container{
    display: grid;
    align-items: flex-end;
    padding-bottom: 30px;
}

#button-container{
    display: inline-block;
    justify-content: center;
}

#list-book-add-button{
    display: flex;
    align-items: center;
}

#list-rent-add-button{
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-item-list{    
    border: 1px solid black;
    width: 100%;
}

#list-book-footer{    
    display: flex;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left:  1px solid black; 
    justify-content: center;
    align-items: center; 
} 

.content-pagination{
    justify-content: center;
    margin: auto;
}

.content-pagination a{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #4D2D52;
    color: white;
    border-left: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-pagination a:hover{
    background-color: gray;
}

.content-pagination a:active{
    background-color:  #4D2D52;
    color: white;
}

#item-number-select{
    display: flex;
    justify-content: center;
    float: right;
}

#item-number-select a{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #4D2D52;
    color: white;
    border-left: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
}

#item-number-select a:hover{
    background-color: gray;
}

#item-number-select a:active{
    background-color:  #4D2D52;
    color: white;
}

.footer{
    display: grid;
    grid-area: 5 / 2 / 5 / 3;
    justify-content: center;
    font-size: 50;
    color: black;
}

/* Book Details  */

#book-details-content-frame{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: auto;
    grid-template-rows: 274px auto auto;
    border: 1px solid black;
    height: 100%;
}

#client-details-content-frame{
    display: grid;
    grid-area: 2/2/3/3;
    grid-auto-columns: auto;
    grid-template-rows: auto auto auto;
    border: 1px solid black;
    height: 100%;
}

#client-details-content-frame .attributes{
    display: grid;
    grid-template-columns: auto;
}

#client-details-content-frame .attributes .attribute-list{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

#client-details-content-frame .attribute-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    grid-template-columns: auto auto;
}

#client-details-content-frame .attribute-name{
    margin-right: 20px;
    font-weight: 700;
    grid-column-start: 1
}

#client-details-content-frame .attribute-value{
    grid-column-start: 2;
}


#client-details-content-frame #buttons{
    display: flex;
    margin: 2%;
    justify-content: flex-end;
}

#book-details-content-frame .attributes{
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(500px, auto) auto
}


#book-details-content-frame .attributes #cover{
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    max-height: 244px;
    max-width: 175px;
    padding: 15px;
}

#book-details-content-frame .attributes img{
    height: inherit;
}

#book-details-content-frame .attributes .attribute-list{
    display: grid;
    grid-area: 2 / 2 / 6/ 3;
}

#book-details-content-frame .attributes .attribute-list .attribute{
    display: grid;
    align-items: center;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#book-details-content-frame .attributes .attribute-name{
    margin-right: 20px;
    font-weight: 700;
    grid-column-start: 1;
}

#book-details-content-frame .attributes .attribute-value{
    margin-right: 20px;
    grid-column-start: 2;
}


#book-details-content-frame .attributes #title{
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    align-items: center;
    font-size: 30px;    
    font-weight: 700;
}

#book-details-content-frame .attributes #rental-count{
    display: flex;
    grid-area: 2 / 3 / 3 / 4;
    align-items: center;   
    justify-content: center;
}

#book-details-content-frame .attributes #rental-count #attribute-name{
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
}

#book-details-content-frame .attributes #count{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 3 / 6 / 4;
    margin-right: 20px;
    font-weight: 700;
    font-size: 70px;
    color: #4D2D52;
}

#book-details-content-frame #rents{
    display: inline;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
}

#book-details-content-frame #rents #rents-table{
    width: 100%;
}

#book-details-content-frame #buttons{
    display: flex;
    margin: 2%;
    justify-content: flex-end;
}

.content #container{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    min-height: 100%;
    min-width: 100%;
}

#add-with-search{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    border: 1px solid black;
    width: 100%;
}

#add-with-search #header{
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    margin: 40px;
}

#add-with-search #header span{
    display: inline;
    font-size: 30px;
    font-weight: 700;
}

#add-with-search #search-box{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    padding: 10px;
}

#search-box #search select{
    height: 100%;
    font-size: 20px;
}

#search-box #search button{
    display: inline-block;
    height: 100%;
    font-size: 20px;
}


#add-with-search #table-autors{
    display: grid;
    grid-area: 3 / 1 / 4 / 2;
}

#add-with-search #buttons{
    display: inline-block;
    grid-area: 4 / 1 / 5 / 2;
    justify-content: flex-end;
    padding-bottom: 10px;
}

#rent-item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    font-size: 20px;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 100%;
}

#client-item{
    display: grid;
    grid-template-rows: auto auto;
    grid-column: auto;
    font-size: 20px;
    align-items: center;
    min-width: 100%;
}

.rent-client-name{
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    min-width: 100%;
    grid-area: 1/1/2/2;
    margin-right: 30px;
}

.rent-book-title{
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    grid-area: 2/1/3/2;
    margin-right: 30px;
}

.rent-start-date{
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    grid-area: 1/2/2/3;
    margin-right: 30px;
}


.rent-end-date{
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    grid-area: 2/2/3/3;
    margin-right: 30px;
}


.rent-id{
    display: inline-block;
    white-space: nowrap;
    justify-content: center;
    grid-area: 1/3/2/4;
    margin-right: 30px;
}

.rent-item .list-item-buttons{
    width: 100%;
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: row;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(77,45,82,0.6);
}

.modal-content{
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 50%;    
}

#delete-modal-message{
    padding: 50px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modal-close{
    float: right;
}

.modal-close:hover,
.modal-close:focus{
    background-color: gray;
}

#rent-add .attributes .attribute-list .attribute{
    display: grid;
    align-items: center;
    font-size: 40px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    margin-left: 5px;
}

#rent-add .attributes .attribute-name{
    margin-right: 20px;
    font-weight: 700;
    grid-column-start: 1;
}

#rent-add .attributes .attribute-value{
    margin-right: 20px;
    grid-column-start: 2;
}