html{
    height: 100%;
}

body{
    display: inline;
    background-color: #F4796B;
}

.page{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 50px 20px auto 30px;
    background-color: #F4796B;
    /* background-image: linear-gradient(to left, #F4796B, #F397D6); */
}

.header{
    grid-area: 1 / 1 / 1 / 4;
    height: 100%;
    color: #00171F;
}

.header-logo{
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 300%;
    text-align: center;
}

.navbar{
    grid-area: 2 / 1 / 2 / 4;
    background-color: #4D2D52;
    height: 50px;
    display: flex;
}

.navbar-button{
    height: 100%;
    font-size: 100%;
    color: white;
    background-color: transparent;
    width: 150px;
    border: none;
}


.navbar-button:hover{
    color: black;
    background-image: linear-gradient(to right, white, silver);
}

#navbar-menu-items{
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

#navbar-menu-login{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.breadcrumbs{
    grid-area: 3 / 1 / 3 / 4;
    background-color: #846075; 
    width: 100%;
    color: #F7F06D;
}

.breadcrumbs:hover{
    color: #87FF65;
}

.content{
    grid-area: 4 / 2 / 4 / 3;
    background-color: #9D6381;
}

.footer{
    grid-area: 5 / 2 / 5 / 3;
    justify-content:flex-end;
    color: black;
}