.book-item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    border-top: 1px solid black;
    padding: 15px;
}


.book-cover-container{
    display: flex;  
    justify-content: flex-end;  
    grid-area: 1 / 1 / 4 / 2;
    height: 128px;
    width: 128px;
}

.book-cover{
    display: inline;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.book-title{
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    align-items: flex-start;
    font-size: 150%;
}

.book-price{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;    
    align-items: center;
    font-size: 200%;
}

.book-buttons{
    display: flex;
    grid-area: 3 / 2 / 4 / 3;
    justify-content: flex-start;
    align-self: flex-end;
    flex-direction: row;
}

.book-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 5%;
    font-size: 100%;
    color: blue;
}

.book-button:hover{
    color: lightblue;
}

.content-frame{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr auto auto auto;
    border: 1px solid black;
}

#add-book-header{
    display: grid;
}

#add-book-header #header{
    display: grid;
    justify-content: center;
    align-self: center;
    font-size: 50px;
}
#add-book-header #description{
    height: auto;
}

.attribute-frame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    margin-top: 50px;
}

.attribute-frame .attribute{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: 40% 40% 20%;
}

.medium-label{
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    margin-bottom: 10px;
}

.attribute input{
    width: 50%;
    font-size: 20px;
}

.attribute-table{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: flex-start;
    height: auto;
}

.selectable-table{
    border: 1px solid black;
    height: auto;
}

.selectable-table thead{
    border: 1px solid black;
    background-color: #4D2D52;
    color: white;
}

.selectable-table th, .selectable-table td{
    margin: 5px;
    height: 25px;
}

.selectable-table tr{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.selectable-table tbody tr:hover{
    background-color: lightgray;
}

.tr-selected{
    background-color: gray;
}

.attribute-table-button{
    display: inline;
    padding-top: 10px;
}
.medium-button{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #4D2D52;
    margin-right: 10px;
    margin-left: 10px;
}

.content-buttons{
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
}

.content-buttons div{
    display: inline-block;
    padding: 20px;
}

html{
    height: 100%;
}

body{
    display: inline;
    background-color: white;
}

.page{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 50px 30px auto 30px;
    background-color: white;
}

.header{
    grid-area: 1 / 1 / 1 / 4;
    height: 100%;
    color: #00171F;
}

.header-logo{
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 300%;
    text-align: center;
}

.navbar{
    grid-area: 2 / 1 / 2 / 4;
    background-color: #4D2D52;
    height: 50px;
    display: flex;
}

.navbar-button{
    height: 100%;
    font-size: 100%;
    color: white;
    background-color: transparent;
    width: 150px;
    border: none;
}


.navbar-button:hover{
    color: black;
    background-image: linear-gradient(to right, white, silver);
}

#navbar-menu-items{
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

#navbar-menu-login{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.breadcrumbs{
    grid-area: 3 / 1 / 3 / 4;
    background-color: #846075; 
    width: 100%;
    color: #F7F06D;
    padding-left: 15px;
    padding-top: 5px;
}

.breadcrumbs:hover{
    color: #87FF65;
}

.content{
    grid-area: 4 / 2 / 4 / 3;
    background-color: white;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(auto, 10%) auto minmax(auto, 10%);
    grid-template-rows: 50px auto 50px;
}

.content-all-items{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    min-height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 50px;
    justify-content: center;
}

.onepage-notification{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    max-height: 150px;
    max-width: 480px;
}

.onepage-notification span{
    border: 1px solid black;
    padding: 20px;
    background-color: #846075;
    color: #F7f06d;
    text-align: center;
    align-items: flex-end;
}


.onepage-notification #message-container{
    display: grid;
    align-items: flex-end;
}

#button-container{
    display: inline-block;
    justify-content: center;
}

.content-add-button{
    display: grid;
    height: 60%;
    width: 33%;
    background-color: #4D2D52;
}

.add-button{
    background-color: transparent;    
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.content-item{
    border: 1px solid black;
}

.content-item-list{    
    border: 1px solid black;
}

.content-footer{    
    display: grid;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left:  1px solid black; 
    justify-content: center;
    align-items: center;
}
.content-pagination{
    margin: auto;
    justify-content: center;
}
#item-number-select{
    justify-content: center;
}

.footer{
    display: grid;
    grid-area: 5 / 2 / 5 / 3;
    justify-content: center;
    font-size: 50;
    color: black;
}

/* Book Details  */

#book-details-content-frame{
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: auto;
    grid-template-rows: 274px auto auto;
    border: 1px solid black;
    height: 100%;
}

#book-details-content-frame #attributes{
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(500px, auto) auto
}

#book-details-content-frame #attributes #cover{
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    height: 244px;
    width: 175px;
    padding: 15px;
}

#book-details-content-frame #attributes img{
    height: inherit;
}

#book-details-content-frame #attributes #attribute-list{
    display: grid;
    grid-area: 2 / 2 / 6/ 3;
    
}

#book-details-content-frame #attributes #attribute-list #attribute{
    display: flex;
    align-items: center;
    font-size: 20px;
}

#book-details-content-frame #attributes #attribute-name{
    margin-right: 20px;
    font-weight: 700;
}

#book-details-content-frame #attributes #title{
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    align-items: center;
    font-size: 30px;    
    font-weight: 700;
}

#book-details-content-frame #attributes #attribute-name{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
}

#book-details-content-frame #attributes #rental-count{
    display: flex;
    grid-area: 2 / 3 / 3 / 4;
    align-items: center;   
    justify-content: center;
}

#book-details-content-frame #attributes #rental-count #attribute-name{
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
}

#book-details-content-frame #attributes #count{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 3 / 6 / 4;
    margin-right: 20px;
    font-weight: 700;
    font-size: 70px;
    color: #4D2D52;
}

#book-details-content-frame #rents{
    display: inline;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
}

#book-details-content-frame #rents #rents-table{
    width: 100%;
}

#book-details-content-frame #buttons{
    display: flex;
    margin: 2%;
    justify-content: flex-end;
}